language: node_js
node_js: lts/*

services:
- docker

cache:
  npm: true
  directories:
  - $HOME/.pnpm-store/

branches:
  only:
  - master

before_install:
- curl -L https://unpkg.com/@pnpm/self-installer | node

install:
- pnpm i

jobs:
- name: build
  script:
  - pnpm recursive run build
  - (cd ./packages/frontend && pnpm run build:dev && docker build -t gobbler .)
  - docker save -o gobbler-docker-image gobbler

before_deploy:
- cat $GENERIC_SSH_KEY >> ~/.ssh/id_rsa
- docker-machine create --generic-ssh-key ~/.ssh/id_rsa target
- docker-machine scp ./gobbler-docker-image target:/inbox

deploy:
- provider: script
  on:
    branch: master
  cleanup: false
  script:
  - docker-machine scp ./gobbler-docker-image target:/inbox
  - docker-machine ssh target -- docker load /inbox/gobbler-docker-image
